apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: {{ external_secrets_cluster_store_name }}
  labels:
    app.kubernetes.io/name: external-secrets
    app.kubernetes.io/component: cluster-secret-store
    app.kubernetes.io/part-of: campaign-center-infra
spec:
  provider:
    vault:
      server: {{ vault_server_url }}
      path: {{ external_secrets_vault_kv_path }}
      version: {{ external_secrets_vault_kv_version }}
      auth:
        kubernetes:
          mountPath: {{ external_secrets_vault_auth_mount_path }}
          role: {{ external_secrets_vault_auth_role }}
          serviceAccountRef:
            name: {{ external_secrets_vault_sa_name }}
            namespace: {{ external_secrets_namespace }}
