installCRDs: true

replicaCount: 1

resources:
  requests:
    cpu: {{ external_secrets_cpu_request }}
    memory: {{ external_secrets_memory_request }}
  limits:
    cpu: {{ external_secrets_cpu_limit }}
    memory: {{ external_secrets_memory_limit }}

webhook:
  create: true
  resources:
    requests:
      cpu: {{ webhook_cpu_request }}
      memory: {{ webhook_memory_request }}
    limits:
      cpu: {{ webhook_cpu_limit }}
      memory: {{ webhook_memory_limit }}

certController:
  create: true
  resources:
    requests:
      cpu: {{ cert_controller_cpu_request }}
      memory: {{ cert_controller_memory_request }}
    limits:
      cpu: {{ cert_controller_cpu_limit }}
      memory: {{ cert_controller_memory_limit }}

serviceMonitor:
  enabled: false
