apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ vault_ingress_ipallowlist_middleware_name }}
  namespace: {{ vault_namespace }}
  labels:
    app.kubernetes.io/name: vault
    app.kubernetes.io/component: ingress-auth
spec:
  ipAllowList:
    sourceRange:
{% for cidr in vault_ingress_ip_allowlist %}
      - {{ cidr | quote }}
{% endfor %}
